/*font style*/
@font-face {
    font-family: 'ArchivoBlacks';
    font-style: normal;
    font-weight: 700;
    src: local('ArchivoBlack-Regular'), local('ArchivoBlack-Regular'), url(font/ArchivoBlack-Regular.ttf) format('truetype');
}
/*end font style*/

/*another font style*/
@font-face {
    font-family: 'CoolCrayon';
    font-style: normal;
    font-weight: 900;
    src: local('CoolCrayon-Regular'), local('CoolCrayon-Regular'), url(font/DKCoolCrayon.ttf) format('truetype');
}

/*end another font style*/

body{
  background: #DEDEDE;
  font-family: 'CoolCrayon', sans-serif;
  padding: 10px; 
  text-transform: uppercase;
}
.slide{
  display: block;
  width: 900px;
  height: 600px;
  background: #f2f2f2; 
  border-radius: 22px;
  box-shadow: 0 0 30px black; 
  padding: 30px; 
}
.imgCenter{
  font-size: 50px;  
}
.code{
  display: block;
  width: 900px;
  height: 700px;
}
.slide .title{
  text-align: center; 
  color: #0D124F; 
  font-weight: bold; 
  margin-bottom: 10px; 
}

#ready{
  width: 500px; 
  text-align: center; 

}


#ing.present .positioning {
    -webkit-transform: translateY(-10px);
    -moz-transform:    translateY(-10px);
    -ms-transform:     translateY(-10px);
    -o-transform:      translateY(-10px);
    transform:         translateY(-10px);
}

/*
    ... 'rotating' to rotate a quarter of a second later ...
*/
.rotating {
    -webkit-transform: rotate(-20deg);
    -moz-transform:    rotate(-20deg);
    -ms-transform:     rotate(-20deg);
    -o-transform:      rotate(-20deg);
    transform:         rotate(-20deg);

    -webkit-transition-delay: 0.5s;
    -moz-transition-delay:    0.5s;
    -ms-transition-delay:     0.5s;
    -o-transition-delay:      0.5s;
    transition-delay:         0.5s;
}
/* compare & two way data binding */
.slideNew{
  background: #FFF5EB;
  margin: 12px; 
  padding: 12px; 
  box-shadow: 1px 1px 1px #413a3a; 
  width: 900px;
  height: 700px;
  margin: 50px 0; 
}
.model{
  float: left; 
  padding: 50px; 
  margin: 5px; 
}
.model input{
  background: #FFE2C2;
  color: black;
  height: 20px; 
  outline: 0;
  box-shadow:000;
}
.model input:focus{
  background: #FFFBEB; 
  border-bottom: 1px solid #B5A666; 
}
.model ul{
  border-left: 5px solid #ce5424; 
}
.model ul li{
  padding: 5px; 
}

.model .vs{
  position: relative;
  width: 50px; 
  height: 50px; 
  background: #FFFBEB; 
  border-radius: 100%;  
  padding: 10px;
  top: 70px;  
  border: 1px solid #ce5424; 
  box-shadow: 3px 3px 5px black;
  text-align: center;
  vertical-align: middle;
  line-height: 55px;       
  color: #ce5424;
  font-weight: bolder;
  font-size: 1.5em; 
}

.math-container {
    display: flex;
    border: 1px solid black;
}



.hobbies{ 
  padding: 10px;
  opacity: 1; 
  position: absolute;
}

.hobbies img{
	height: auto;
}

.profileImage{ 
  padding: 10px;
  opacity: 1; 
  position: absolute;
}

.profileImage img{
	width: 50%;
	height: auto;
	margin-top: -400px;
	margin-left: -100px;
}

.education{ 
  padding: 10px;
  opacity: 1; 
  position: absolute;
}

.education img{
  width: 10%;
  height: auto;
}
.school {
	margin-top: 100px;
	margin-left: -100px;
}

.job {
	margin-top: 100px;
	margin-left: 250px;
}

.college {
	margin-top: 100px;
	margin-left: 250px;
}

.dance1{
	width:70%;
	margin-top: 0px;
	margin-left: 0px;
	-webkit-transform:rotate(0deg); 
}

.dance2{
	width:80%;
	margin-top: 0px;
	margin-left: -200px;
	-webkit-transform:rotate(0deg); 
}

.photography{
	width:30%;
	margin-top: -200px;
	margin-left: 850px;
	-webkit-transform:rotate(0deg); 
}

.running{
	width:60%;
	margin-top: 0px;
	margin-left: 400px;
	-webkit-transform:rotate(0deg); 
}
.reading1{
	width:70%;
	margin-top: -100px;
	margin-left: -100px;
	-webkit-transform:rotate(0deg); 
}

.reading2{
	width:70%;
	margin-top: -120px;
	margin-left: -200px;
	-webkit-transform:rotate(0deg); 
}

.music{
	width:60%;
	margin-top: 50px;
	margin-left: 50px;
	-webkit-transform:rotate(0deg); 
}


.debate{
	width:40%;
	margin-top: -350px;
	margin-left: 350px;
	-webkit-transform:rotate(0deg); 
}

.paint{
	width:40%;
	margin-top: 0px;
	margin-left: 600px;
	-webkit-transform:rotate(0deg); 
}
.imageJapanKids{ 
  padding: 10px;
  opacity: 1; 
  position: absolute;

}

.imageJapanKids img{
	width:75%;
	height: auto;
}

.firstImage{ 
   	margin-top: -200px;
	margin-left: 450px;
	-webkit-transform:rotate(10deg);  
	top: 0px;
	/*box-shadow: 3px 3px 5px black;*/
}

.secondImage{ 
   	margin-top: -200px;
	margin-left: -250px; 
	-webkit-transform:rotate(0deg); 
	top: 0px;
	/*box-shadow: 3px 3px 5px black;*/
}


.japanImage{ 
  padding: 10px;
  opacity: 1; 
  position: absolute;

}

.japanImage img{
	height: auto;
}

.firstJ{
	width: 60%; 
   	margin-top: -300px;
	margin-left: 450px;
	-webkit-transform:rotate(10deg);  
	top: 0px;
	/*box-shadow: 3px 3px 5px black;*/
}

.secondJ{
	width: 55%; 
   	margin-top: 60px;
	margin-left: -200px; 
	-webkit-transform:rotate(0deg); 
	top: 0px;
	/*box-shadow: 3px 3px 5px black;*/
}

.thirdJ{
	width: 40%; 
   	margin-top: -180px;
	margin-left: 20px; 
	-webkit-transform:rotate(0deg); 
	top: 0px;
	/*box-shadow: 3px 3px 5px black;*/
}

.fourthJ{
	width: 50%; 
   	margin-top: 60px;
	margin-left: 300px; 
	-webkit-transform:rotate(0deg); 
	top: 0px;
	/*box-shadow: 3px 3px 5px black;*/
}

.firstJ2{
	width: 45%; 
   	margin-top: -300px;
	margin-left: 550px;
	-webkit-transform:rotate(10deg);  
	top: 0px;
	/*box-shadow: 3px 3px 5px black;*/
}

.secondJ2{
	width: 35%; 
   	margin-top: 60px;
	margin-left: -200px; 
	-webkit-transform:rotate(0deg); 
	top: 0px;
	/*box-shadow: 3px 3px 5px black;*/
}

.thirdJ2{
	width: 40%; 
   	margin-top: -180px;
	margin-left: 20px; 
	-webkit-transform:rotate(0deg); 
	top: 0px;
	/*box-shadow: 3px 3px 5px black;*/
}

.fourthJ2{
	width: 35%; 
   	margin-top: 110px;
	margin-left: 550px; 
	-webkit-transform:rotate(0deg); 
	top: 0px;
	/*box-shadow: 3px 3px 5px black;*/
}

.fifthJ2{
	width: 45%; 
   	margin-top: 85px;
	margin-left: 120px; 
	-webkit-transform:rotate(0deg); 
	top: 0px;
	/*box-shadow: 3px 3px 5px black;*/
}

.weekdays{ 
  padding: 10px;
  opacity: 1; 
  position: absolute;

}

.weekdays img{
	height: auto;
}

.firstW{ 
	width:50%;
   	margin-top: -200px;
	margin-left: 450px;
	-webkit-transform:rotate(0deg);  
	top: 0px;
	/*box-shadow: 3px 3px 5px black;*/
}

.secondW{ 
	width:15%;
   	margin-top: -200px;
	margin-left: 325px;
	-webkit-transform:rotate(0deg);  
	top: 0px;
	/*box-shadow: 3px 3px 5px black;*/
}

.thirdW{ 
	width:20%;
   	margin-top: 100px;
	margin-left: 350px;
	-webkit-transform:rotate(0deg);  
	top: 0px;
	/*box-shadow: 3px 3px 5px black;*/
}

.fourthW{ 
	width:30%;
   	margin-top: 80px;
	margin-left: 780px;
	-webkit-transform:rotate(0deg);  
	top: 0px;
	/*box-shadow: 3px 3px 5px black;*/
}


.office{ 
  padding: 10px;
  opacity: 1; 
  position: absolute;

}

.office img{
	height: auto;
}

.firstO{ 
	width:50%;
   	margin-top: -300px;
	margin-left: 450px;
	-webkit-transform:rotate(0deg);  
	top: 0px;
	/*box-shadow: 3px 3px 5px black;*/
}

.secondO{ 
	width:30%;
   	margin-top: -200px;
	margin-left: 225px;
	-webkit-transform:rotate(0deg);  
	top: 0px;
	/*box-shadow: 3px 3px 5px black;*/
}

.thirdO{ 
	width:30%;
   	margin-top: 100px;
	margin-left: 350px;
	-webkit-transform:rotate(0deg);  
	top: 0px;
	/*box-shadow: 3px 3px 5px black;*/
}

.fourthO{ 
	width:40%;
   	margin-top: 80px;
	margin-left: 780px;
	-webkit-transform:rotate(0deg);  
	top: 0px;
	/*box-shadow: 3px 3px 5px black;*/
}

.yoga{
	width:150%;
	margin-top: 100px;
	margin-left: 0px;
	-webkit-transform:rotate(0deg); 
}

.swim{
	width:30%;
	margin-top: -200px;
	margin-left: 350px;
	-webkit-transform:rotate(0deg); 
}


.lift{
	width:30%;
	margin-top: 0px;
	margin-left: 750px;
	-webkit-transform:rotate(0deg); 
}

.cycling{
	width:150%;
	margin-top: 50px;
	margin-left: 0px;
	-webkit-transform:rotate(0deg); 
}

.imageProfile{ 
  width: 80%;
  padding: 10px;
  opacity: 1; 
}
.imageContent{ 
  width: 50%;
  padding: 10px;
}

.googleC{ 
  padding: 10px;
  opacity: 1; 
  position: relative;
}

.googleC img{
	height: auto;
}

.googleLogo{
	width: 50%;
	margin-left: -250px;
	margin-top: -900px;
	-webkit-transform:rotate(0deg);
	top: -200px;
}

.pageRank{
	width: 100%;
	margin-left: 300px;
	margin-top: -600px;
	-webkit-transform:rotate(0deg);
	top: 0px;
}

.andre{ 
  padding: 10px;
  opacity: 1; 
  position: absolute;
}

.andre img{
	height: auto;
}

.agassiKid{
	width: 40%;
	margin-left: -250px;
	margin-top: -50px;
	-webkit-transform:rotate(0deg);
	top: -200px;
}

.openBook{
	width: 45%;
	margin-left: 700px;
	margin-top: -250px;
	-webkit-transform:rotate(10deg);
	top: 0px;
}



button{
  padding: 10px; 
  outline: none;
  box-shadow: 0px 2px 0px #CE5323; 
  /*#e4e4e4 #fcf8e3 */
}
button:active{
  background: #fcf8e3; 
  background: rgb(189, 189, 189); 
}

.bar{
  padding: 5px; 
  background: #eee;
  border-left: 6px solid #CE5323;
}
.bar li{
  padding: 5px 0;
  font-size: 2em; 
}

table {
  width:40%;

}
table, th, td {
  border: 1px solid rgb(189, 189, 189);
  border-collapse: collapse;
  box-shadow: 0px 7px 20px rgb(195, 195, 195);
}
th, td {
  padding: 10px;
  text-align: left;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
 background-color:#fff;
}
table th {
  /*background-color: #edece4;*/
  color: #444444;
}

.som {
  padding: 2px 4px;
  font-size: 90%;
  color: #07a;
  border:1px solid #e4e4e4;
  background-color: #fcf8e3;
  white-space: nowrap;
  border-radius: 4px;

}

.endList ul{
  list-style-type: none;

}

.endList ul{
  list-style-type: none;
  color: #620A0A; 

}
.endList a, a:active, a:visited, a:focus{
  text-decoration: none;
  color: #373737;
}


.words{
  width: 800px; 
  font-weight: 800; 
  line-height: .9; 
  color: #373737;
  text-transform: uppercase;
}


/*intro slides extra classes*/
.js{
  color: #E3D86C;
  font-weight: bold;
  text-shadow:0px 1px 1px rgb(54, 58, 33), 1px 1px 1px rgb(113, 113, 113);
}
.introImages:nth-child(1){
  margin: 2em 5em;
}
.introImages:nth-child(3){
  margin: 0 4em;
}

/* Opacity */
.opacity{    
 -webkit-transition: opacity 1s;
 -moz-transition:    opacity 1s;
 -ms-transition:     opacity 1s;
 -o-transition:      opacity 1s;
 transition:         opacity 1s;
}
.opacity:not(.active) { 
	opacity: 0.1; 
	/*
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	*/
	}


/* substep*/
.impress-enabled .substep {
  opacity: 0.1;
  -webkit-transition: all 1s;
  -moz-transition:    all 1s;
  -ms-transition:     all 1s;
  -o-transition:      all 1s;
  transition:         all 1s;  
}

.impress-enabled .substep.active {
  opacity: 1;
}

.impress-enabled .substep.past {
  opacity: 0.1;
}


/* Other helper classes*/
h1{
	line-height: 75%;
	margin: 0;
	font-weight: 900;
}
.rotatedtext h2{
	font-size: 36px;
	clear: both;
	margin: 0;
	padding: 0;
	line-height: 130%;
}
h3,h4,h5,h6 {margin:0;color: #373737;} 

.name{
	-webkit-transform:rotate(0deg); 
	position: absolute; 
	left: 90px; 
	top: 30px;
}

.amb1{font-size: 80px; 
	text-align: center; 
	margin-top: 0px;
	margin-left: 100px;
	color: #373737; 
	-webkit-transform:rotate(0); 
	position: absolute; 
	top: 0px;}
.amb2{font-size: 80px; 
	text-align: center; 
	margin-left: 650px;
	margin-top: -150px;
	color: #373737; 
	-webkit-transform:rotate(-90deg); 
	position: absolute; 
	top: 0px;}
.amb3{font-size: 80px; 
	text-align: center;
	margin-left: -50px; 
	margin-top: -150px;
	color: #373737; 
	-webkit-transform:rotate(0); 
	position: absolute; 
	top: 0px;}
.amb4{font-size: 80px; 
	text-align: center;
	margin-left: -150px; 
	margin-top: 100px;
	color: #373737; 
	-webkit-transform:rotate(-90deg); 
	position: absolute; 
	top: 0px;}
.amb5{font-size: 60px; 
	text-align: center; 
	margin-top: -300px;
	margin-left: -200px;
	color: #373737; 
	-webkit-transform:rotate(0); 
	position: absolute; 
	top: 0px;}
.amb6{font-size: 60px; 
	text-align: center; 
	margin-top: 20px;
	margin-left: 600px;
	color: #373737; 
	-webkit-transform:rotate(-90deg); 
	position: absolute; 
	top: 0px;}
.amb7{font-size: 60px; 
	text-align: center; 
	margin-top: 200px;
	margin-left: 400px;
	color: #373737; 
	-webkit-transform:rotate(0); 
	position: absolute; 
	top: 0px;}
.amb8{font-size: 60px; 
	text-align: center; 
	margin-top: -250px;
	margin-left: 250px;
	color: #373737; 
	-webkit-transform:rotate(0); 
	position: absolute; 
	top: 0px;}
.amb9{font-size: 40px; 
	text-align: center; 
	margin-top: 20px;
	margin-left: -300px;
	color: #373737; 
	-webkit-transform:rotate(-90deg); 
	position: absolute; 
	top: 0px;}
.amb10{font-size: 40px; 
	text-align: center; 
	margin-top: 250px;
	margin-left: 100px;
	color: #373737; 
	-webkit-transform:rotate(0); 
	position: absolute; 
	top: 0px;}

.job1{font-size: 60px;  
	margin-top: -250px;
	margin-left: -200px;
	color: #373737; 
	-webkit-transform:rotate(0); 
	position: absolute; 
	top: 0px;}

.job2{font-size: 60px;  
	margin-top: 0px;
	margin-left: -350px;
	color: #373737; 
	-webkit-transform:rotate(-90deg); 
	position: absolute; 
	top: 0px;}

.job3{font-size: 60px;  
	margin-top: -160px;
	margin-left: -80px;
	color: #373737; 
	-webkit-transform:rotate(0); 
	position: absolute; 
	top: 0px;}

.job4{font-size: 60px;  
	margin-top: 0px;
	margin-left: -160px;
	color: #373737; 
	-webkit-transform:rotate(-90deg); 
	position: absolute; 
	top: 0px;}

.job5{font-size: 60px;  
	margin-top: -80px;
	margin-left: 20px;
	color: #373737; 
	-webkit-transform:rotate(0); 
	position: absolute; 
	top: 0px;}

.job6{font-size: 60px;  
	margin-top: 50px;
	margin-left: 540px;
	color: #888888; 
	-webkit-transform:rotate(0); 
	position: absolute; 
	top: 0px;}

.job7{font-size: 60px;  
	margin-top: -50px;
	margin-left: 650px;
	color: #888888; 
	-webkit-transform:rotate(-90deg); 
	position: absolute; 
	top: 0px;}

.job8{font-size: 60px;  
	margin-top: 120px;
	margin-left: 480px;
	color: #888888; 
	-webkit-transform:rotate(0); 
	position: absolute; 
	top: 0px;}

.job9{font-size: 60px;  
	margin-top: 200px;
	margin-left: 400px;
	color: #888888; 
	-webkit-transform:rotate(0); 
	position: absolute; 
	top: 0px;}

.job10{font-size: 60px;  
	margin-top: -100px;
	margin-left: 560px;
	color: #888888; 
	-webkit-transform:rotate(-90deg); 
	position: absolute; 
	top: 0px;}

.googleInfo{
	font-size: 100px;  
	margin-top: 140px;
	margin-left: 650px; 
	-webkit-transform:rotate(0deg); 
	position: absolute; 
	top: 0px;
}

.googleFounder1{
	font-size: 80px;  
	margin-top: 150px;
	margin-left: -250px; 
	-webkit-transform:rotate(0deg); 
	position: absolute; 
	top: 0px;
}

.googleFounder2{
	font-size: 80px;  
	margin-top: 150px;
	margin-left: -250px; 
	-webkit-transform:rotate(0deg); 
	position: relative; 
	top: 0px;
}

.googleFounder3{
	font-size: 60px;  
	margin-top: 80px;
	margin-left: -250px; 
	-webkit-transform:rotate(0deg); 
	position: relative; 
	top: 0px;
}
.textTitle{
	font-size: 150px; 
	text-align: center; 
	margin-top: -250px;
	margin-left: 50px;
	color: #373737; 
	-webkit-transform:rotate(0); 
	position: relative; 
	top: 0px;
}

.textPrefWhere{
	font-size: 35px; 
	text-align: center; 
	margin-top: -200px;
	margin-left: 50px;
	color: #373737; 
	-webkit-transform:rotate(0); 
	position: absolute; 
	top: 0px;
}

.strikeLine {
  text-decoration: line-through;
}


.schoolField {
	font-size: 45px;
	text-align: center;
	-webkit-transform:rotate(0); 
	position: absolute; 
	margin-top: 240px;
	margin-left: -80px;
}

.jobField {
	font-size: 45px;
	text-align: center;
	-webkit-transform:rotate(0); 
	position: absolute; 
	margin-top: 240px;
	margin-left: 580px;
}

.collegeField {
	font-size: 45px;
	text-align: center;
	-webkit-transform:rotate(0); 
	position: absolute; 
	margin-top: 240px;
	margin-left: 250px;
}


.textWhere{
	font-size: 150px; 
	text-align: center; 
	margin-top: -150px;
	margin-left: 100px;
	color: #373737; 
	-webkit-transform:rotate(0); 
	position: absolute; 
	top: 0px;
}

.textName{
	font-size: 80px; 
	text-align: center; 
	margin-top: -150px;
	margin-left: 200px;
	color: #373737; 
	-webkit-transform:rotate(0); 
	position: relative; 
	top: 0px;
}

.textSubWhere{
	font-size: 35px; 
	text-align: center; 
	margin-top: -30px;
	margin-left: 400px;
	color: #373737; 
	-webkit-transform:rotate(0); 
	position: absolute; 
	top: 0px;
}

.textSubTitle{
	font-size: 90px; 
	text-align: center; 
	margin-top: -250px;
	margin-left: -100px;
	color: #373737; 
	-webkit-transform:rotate(0); 
	position: absolute; 
	top: 0px;
}

.textBallsWeek{
	font-size: 90px; 
	text-align: center; 
	margin-top: 150px;
	margin-left: 100px;
	color: #373737; 
	-webkit-transform:rotate(0); 
	position: absolute; 
	top: 0px;
}

.textWorld{
	font-size: 90px; 
	text-align: center; 
	margin-top: 250px;
	margin-left: 100px;
	color: #373737; 
	-webkit-transform:rotate(0); 
	position: absolute; 
	top: 0px;
}


.em1{font-size: 1em;}
.em15{font-size: 1.5em;}
.em2{font-size: 2em;}
.em25{font-size: 2em;}
.em3{font-size: 3em;}
.em4{font-size: 4em;}
.em5{font-size: 5em;}
.em55{font-size: 5.5em;}
.em6{font-size: 6em;}
.em7{font-size: 7em;}
.em8{font-size: 8em;}
.em85{font-size: 8.5em;}
.em9{font-size: 9em;}
.em10{font-size: 10em;}
.em11{font-size: 11em;}
.em12{font-size: 12em;}
.em13{font-size: 13em;}
.em14{font-size: 14em;}

.textCenter{text-align: center;}
.textBold{font-weight: bold;}
.underline{text-decoration: underline;}
.clearfix{ clear: both; }
.colorTitle{ color: #ce5424;}
.niceColor{color: #620A0A; font-weight: bold; }
.imgCenter{  
  display:block;
  margin:auto;
}
.margUp{
  margin-top: 100px; 
  padding-top: 20px; 
}


/*tree*/


.node {
    cursor: pointer;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

/*footer style*/
.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}

#overview { display: none }

/*
    We also make other steps visible and give them a pointer cursor using the
    `impress-on-` class.
*/
.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
    -webkit-filter: blur(0);
	-moz-filter: blur(0);
	-o-filter: blur(0);
	-ms-filter: blur(0);
	filter: blur(0);
}